root = true

[*]
charset = utf-8

[*.cs]

# IDE0051: 사용되지 않는 private 멤버 제거
dotnet_diagnostic.IDE0051.severity = none

# IDE0017: 개체 초기화 단순화
dotnet_diagnostic.IDE0017.severity = none

# IDE0031: Null 전파 사용
dotnet_diagnostic.IDE0031.severity = none
